---
import { getDb } from '../db/init';
import { BoardRepository } from '../repositories/BoardRepository';
import BoardList from '../components/BoardList';

const db = getDb();
const boardRepo = new BoardRepository(db);
const boards = boardRepo.findAll();
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SwimLanes</title>
</head>
<body class="bg-gray-50">
  <BoardList client:load initialBoards={boards} />
</body>
</html>
